mat-card {
  margin-bottom: 20px;
}

.card-list mat-list-item {
    height: auto; // Автоматическая высота для элементов списка
    padding: 8px 0; // Добавляем отступы для лучшего визуального восприятия
}