<div class="dishes-container">
  <div class="actions">
    <button mat-raised-button color="primary" (click)="openDishDialog()">
      <mat-icon>add</mat-icon>
      Добавить блюдо
    </button>
    <button mat-raised-button color="accent" (click)="openIngredientDialog()">
      <mat-icon>add</mat-icon>
      Добавить ингредиент
    </button>
  </div>

  <app-card title="Сохранённые блюда" [items]="dishes">
    <ng-template #itemTemplate let-dish>
        <div class="dish-row">
            <span class="name">{{ dish.name }}</span>
            <span class="details">
                Б: {{ dish.totalProteins }}г, 
                Ж: {{ dish.totalFats }}г, 
                У: {{ dish.totalCarbohydrates }}г
            </span>
        </div>
    </ng-template>
  </app-card>

  <app-card title="Сохранённые ингредиенты" [items]="ingredients">
    <ng-template #itemTemplate let-ingredient>
        <div class="ingredient-row">
            <span class="name">{{ ingredient.name }}</span>
            <span class="details">
                Б: {{ ingredient.proteins }}г, 
                Ж: {{ ingredient.fats }}г, 
                У: {{ ingredient.carbohydrates }}г
            </span>
        </div>
    </ng-template>
  </app-card>
</div> 